html,body
{
    font-family:'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    background-color: azure;

}
h1,h2,h3,h4
{
    font-family:'Abel',sans-serif;
}
b,strong
{
   font-weight: 400;
}
.intro-block
{
    background: url(../blu.jpg) repeat;
    padding: 100px 15px 60px;
    color: floralwhite;
}
.text-muted
{
    color: floralwhite;
    font-weight: 100;
    
}
.tpad
{
    padding-top: 20px;
}
.resume
{
    background-color: skyblue;
    padding: 100px 15px 60px;
    color: floralwhite;
}
hr
{
    border-top: 1px solid #c9c9c9;
}
.info
{
    background: pink url(../ppp.jpg) repeat-x;
    padding: 80px 80px 80px 80px;
     padding-bottom: 20px;
    text-align:bottom;
}
.info small{
    color:black;
     padding-bottom: 20px;
}
.info a{
    color: #fff;
}
.info a:hover
{
    color: #333;
}
.tab-pane
{
    padding: 40px 10px 0 10px;
}
.ftr
{
    background-image: url(../bl.jpg);
    padding: 80px 0 60px 0;
    
}
.ftr address, .ftr a, .ftr p
{
    color: white;
}
.ft_space
{
    padding: 0 10px;
}